---
interface Props {
  label: string;
  name: string;
  group: string;
  value: string;
}

const { label, name, group, value } = Astro.props;
---
<label class="block">
  <span data-i18n={`settings.${group}.${name}`}>{label}</span>
  <textarea
    class="mt-1 block w-full rounded-md bg-gray-200 border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
    name={name}
    data-settings-group={group}
  >{value}</textarea>
</label>